@page "/wardrobe"
@rendermode InteractiveWebAssembly
@inject NavigationManager Navigation
@inject HttpClient Http

<h3>Wardrobe</h3>
<EditForm FormName="AddNewClothingForm" Model="NewClothing" OnValidSubmit="HandleValidSubmit">
	<DataAnnotationsValidator />

	<ValidationSummary />
	<label for="category">Category</label>
	<InputText id="category" @bind-Value="@NewClothing!.Category" placeholder="Shirt (Required)" />
	<label for="description"></label>
	<InputText id="description" @bind-Value="@NewClothing.Description" placeholder="A yellow shirt..." />
	<InputFile OnChange="HandleFileInput" />
	<button disabled="@isLoading" type="submit">Submit</button>
</EditForm>

@if(isLoading)
{
	<p>Wardrobe is loading...</p>
} 
else if (wardrobe.Count > 0)
{
	<table class="table">
		<thead>
			<tr>
				<td>Id</td>
				<td>Category</td>
				<td>Description</td>
				<td>Image</td>
				<td>Edit/Delete</td>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in wardrobe)
			{
				<tr>
					<td>@item.Id</td>
					<td>@item.Category</td>
					<td>@item.Description</td>
					<td>
						@if (item.ImageData != null)
						{
							<img style="width: 100px; height: 100px;" src="data:@item.ImageType;base64,@(Convert.ToBase64String(item.ImageData))" />
						}
						else
						{
							<p>No image</p>
						}
					</td>
					<td>
						<button>Edit</button>
						<button @onclick=@(() => RemoveClothing(item))>Delete</button>
					</td>
				</tr>
			}
		</tbody>
		
	</table>
} else
{
	<p>Wardrobe is empty :(</p>
}

@code {
	[SupplyParameterFromForm(FormName = "AddNewClothingForm")]
	private ClothingModel? NewClothing { get; set; }

	protected override void OnInitialized()
	{
		NewClothing ??= new();
	}

	private List<ClothingModel> wardrobe = new();
	private string? newCategory;
	private bool isLoading = true;
	private IBrowserFile? uploadedPicture;



	protected override async Task OnAfterRenderAsync(bool firstRender)
	{

		if (firstRender && Navigation.Uri.Contains("http"))
		{
			await LoadWardrobe();
		}
	}


	private async Task LoadWardrobe()
	{
		try
		{
			isLoading = true;
			//wardrobe = await WardrobeService.GetWardrobeAsync();
			wardrobe = await Http.GetFromJsonAsync<List<ClothingModel>>("api/Wardrobe") ?? new List<ClothingModel>();
		}
		catch (Exception ex)
		{
			Console.WriteLine(ex.Message);
		}
		finally
		{
			isLoading = false;
			StateHasChanged(); // Why is this necessary
		}
	}

	private async Task AddClothing()
	{
		try
		{
			var response = await Http.PostAsJsonAsync<ClothingModel>("api/Wardrobe", NewClothing!);
			var postedClothing = await response.Content.ReadFromJsonAsync<ClothingModel>() ?? new ClothingModel();
			wardrobe.Add(postedClothing);
			NewClothing = new();
		} catch (Exception ex)
		{
			Console.WriteLine(ex.Message);
		}

	}

	private async Task RemoveClothing(ClothingModel clothingToDelete)
	{
		try
		{
			await Http.PostAsJsonAsync<ClothingModel>("api/Wardrobe/Delete", clothingToDelete);
			wardrobe.Remove(clothingToDelete);

		} catch(Exception ex)
		{
			Console.WriteLine(ex.Message);
		}
	}

	private async Task HandleValidSubmit()
	{
		await AddClothing();
	}

	private async Task HandleFileInput(InputFileChangeEventArgs e)
	{
		var uploadedFile = e.File;
		var buffer = new byte[uploadedFile.Size];
		await uploadedFile.OpenReadStream().ReadAsync(buffer);
		NewClothing.ImageData = buffer;
		NewClothing.ImageType = uploadedFile.ContentType;
	}
}
